@charset "utf-8";
/*==========@@HTML默认样式 开始@@==========*/
/*基本*/
*{ font-size:16px;padding:0px; margin:0px }
body{
	color:#000;
	background-color: #FFF;
	padding:0px; 
	margin:0px auto;
	overflow:scroll;
	overflow-x:hidden;
	overflow-y:auto;
	font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	font-size:16px;
	max-width:640px;
}
div{ margin:0; padding:0; border:0; color:#333333;}
img{ margin:0; padding:0; border:0; max-width:100%}
p{ margin: 0px 0px 1em 0;}
b,strong {font-weight: bold;}
table { border-collapse: collapse; border-spacing: 0;/* Remove most spacing between table cells.*/}
li{ list-style: none outside none;}

/*链接*/
a{ text-decoration:none; color:#000; background: transparent;  outline:none}
a:visited {}
a:focus { outline:none; }
a:hover, a:active{ color:#ff539f; outline:none;}

/*标题*/
h1 { font-size: 1.3em;margin:  0;}
h2 {font-size: 1.2em; margin: 0;}
h3 { font-size: 1.17em;margin: 0;}
h4 {font-size: 1em;margin:0;}
h5 {font-size: 0.83em;margin: 0;}
h6 { font-size: 0.67em;margin: 0;}
/*版权信息*/
.copyright{ padding:5px; text-align:center; font-size:14px; color:#666; border:0px solid red}
.copyright a{color:#666;}

/*其它*/
blockquote {margin: 1em 40px;}
dfn {font-style: italic;}
hr {-moz-box-sizing: content-box;box-sizing: content-box;height: 0;}
code, kbd, pre, samp {font-size: 1em;}
pre {margin: 1em 0; white-space: pre;white-space: pre-wrap;word-wrap: break-word; }
small {font-size: 80%;}
sub,sup {font-size: 75%;line-height: 0; position: relative;vertical-align: baseline; }
sup {top: -0.5em;}
sub {bottom: -0.25em;}
dl{margin: 1em 0;}
dd {margin: 0 0 0 40px;}
audio:not([controls]) {display: none; height: 0;}
/*==========@@HTML默认样式  结束@@==========*/

/*频道列表*/
.channellist{ width:99%;border:0px solid red; margin:0px auto;}
#header .channellist li{float:left;text-align: center; border:0px dashed blue; width:50%;}
#body .channellist li{float:left;text-align: center; border:0px dashed blue; width:100%; }
#content .channellist li{float:left;text-align: center; border:0px dashed blue; width:33.3%; }
.channellist li a
{
    display:block; 
    /*margin:5px;  
      border-radius:8px;
      -webkit-border-radius:8px;
      border:1px solid #CCC ;

    border-top-color: rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    */
    padding-top:0px; 
    padding:5px;
    background-color:#FFFFFF;
    border:1px solid #CCC ;
}
.channellist li .ChannelName{ text-align:center;  height:22px; line-height:22px; border:0px dashed red; /*padding:5px;*/ padding-bottom:22px;font-size:14px}
.channellist li .ChannelIcon{
    text-align: center;
	font-weight: bold;
	overflow:hidden;
	background: white center center no-repeat; 
	padding: 0px;
	color:#FFFFFF;
	margin:auto;
	border:0px solid red;
}
.channellist li .ChannelIcon img{ vertical-align:middle; width:99%; }
/*==========@@列表样式 结束@@==========*/


/*==========@@其它样式定义 开始@@==========*/

/*==========@@其它样式定义 结束@@==========*/